@use './components/App/App';
@use './components/BookCard/BookCard';
@use './components/BookContainer/BookContainer';
@use './components/BookPage/BookPage';
@use './components/Home/Home';
@use './components/Header/Header';
@use './components/FeaturedBook/FeaturedBook';
@use './components/SearchPage/SearchPage';
@use './components/BookReview/BookReview';
@use './components/SideBarBookClub/SideBarBookClub';
@use './components/HomeShelfContainer/HomeShelfContainer';
@use './components/Auth/Auth';
//Semi colon


body{
    background-color: rgb(250, 235, 215);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.hidden{
    display: hidden;
    color: transparent;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    background-color: greenyellow;
    height: 730px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.sideBar{
    display: flex;
    flex-direction: column;
    background-color: #95BDB6;
    height: 100%;
    width: 25%;
    align-items: center;
}

.display{
    display: flex;
    flex-direction: column; 
    background-color: #FAEBD7;
    height: 100%;
    width: 75%;
    align-items: center;
    justify-content: flex-start;
}

//for the scroll bar styling

::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #C1554E;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #fff;
    transition: .5s;
    &:hover{
        background-color: #FFC1B3;
        transition: .5s;
    }

    &:active{
        background-color: #d6a094;
    }
  }