@use './components/App/App';
@use './components/BookCard/BookCard';
@use './components/BookContainer/BookContainer';
@use './components/BookPage/BookPage';
@use './components/Home/Home';
@use './components/Header/Header';

//Semi colon

body{
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.hidden{
    display: hidden;
    color: transparent;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    background-color: greenyellow;
}

.sideBar{
    display: flex;
    flex-direction: column;
    background-color: red;
}

.display{
    display: flex;
    flex-direction: column; 
    background-color: blueviolet;
}