.bookCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 175px;
  height: 300px;
  background-color: #66C4C7;
  border-radius: 3%;
  margin-top: 3%;
  margin-right: 2.5%;
}

.bookCover {
  cursor: pointer;
  height: 220px;
  width: 160px;
}

.bookTitle {
  font-size: 18px;
}
.bookTitle.extended {
  font-size: 16px;
}
.bookTitle.shrunk {
  font-size: 16px;
}

.bookAuthor {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.bookCardHalf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 12px;
}
.bookCardHalf.top {
  padding-bottom: 0px;
  padding-top: 15px;
}
.bookCardHalf.bottom {
  padding-top: 0px;
  flex-direction: column;
  align-items: center;
}

.bookContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3%;
}

.title {
  cursor: pointer;
}

.searchBar {
  align-self: right;
  margin-left: 39vw;
  font-size: 18px;
  width: 80px;
  border: none;
  cursor: pointer;
  background: url("./Images/searchSize25.png") right no-repeat;
  transition: 1s;
  color: transparent;
}
.searchBar:focus {
  width: 250px;
  margin-left: 27vw;
  cursor: text;
  transition: 1s;
  background-color: rgba(186, 185, 185, 0.245);
  color: black;
}
.searchBar:focus::-moz-placeholder {
  color: rgba(128, 128, 128, 0.6);
  -moz-transition: 1s;
  transition: 1s;
}
.searchBar:focus:-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.6);
  -ms-transition: 1s;
  transition: 1s;
}
.searchBar:focus::placeholder {
  color: rgba(128, 128, 128, 0.6);
  transition: 1s;
}

.bookPageCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: pink;
  height: 75%;
  width: 80%;
}

.bookPageCardSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(96, 96, 203);
  height: 100%;
  width: 35%;
}

.bookPageCardMain {
  background-color: rgb(167, 95, 95);
  height: 100%;
  width: 65%;
}

.bookPageCardInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}

.bookPageCardCover {
  height: 45%;
  width: 55%;
}

.bookPageTitle {
  align-self: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.synopsis {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.3em;
}

.bookInfo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.fullSynopsis {
  position: absolute;
  margin-left: -1.8%;
  margin-top: 3%;
  width: 36%;
  font-size: 16px;
  background-color: aquamarine;
  border-radius: 5px;
  padding: 20px;
}
.fullSynopsis h3 {
  padding-top: 0px;
  margin-top: -1px;
  margin-bottom: -1px;
}

body {
  background-color: rgb(250, 235, 215);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
}

.hidden {
  display: hidden;
  color: transparent;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  background-color: greenyellow;
  height: 730px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sideBar {
  display: flex;
  flex-direction: column;
  background-color: #95BDB6;
  height: 100%;
  width: 25%;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: column;
  background-color: #FE8A7F;
  height: 100%;
  width: 75%;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #C1554E;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #FFC1B3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:active {
  background-color: #d6a094;
}/*# sourceMappingURL=index.css.map */