@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
.bookCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 175px;
  height: 300px;
  background-color: #66C4C7;
  border-radius: 3%;
  margin-top: 3%;
  margin-right: 2.5%;
}

.bookCover {
  cursor: pointer;
  height: 220px;
  width: 160px;
}

.bookTitle {
  text-align: center;
  font-size: 18px;
}
.bookTitle.extended {
  font-size: 16px;
}
.bookTitle.shrunk {
  font-size: 16px;
}

.bookAuthor {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.bookCardHalf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 12px;
}
.bookCardHalf.top {
  padding-bottom: 0px;
  padding-top: 15px;
}
.bookCardHalf.bottom {
  padding-top: 0px;
  flex-direction: column;
  align-items: center;
}

.bookContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.reviewContainer {
  background-color: #E3D4C1;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 40px;
}

.reviewInfo {
  width: 90%;
  height: 100%;
}

.newReviewTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.stars {
  cursor: pointer;
  margin-left: 1%;
  display: flex;
  flex-direction: row;
  font-size: 18px;
}
.stars div {
  margin-right: 3%;
}

.reviewForm {
  display: flex;
  flex-direction: column;
}
.reviewForm input {
  width: 70%;
  height: 100px;
  text-align: start;
}
.reviewForm button {
  width: 10%;
}

.active {
  color: gold;
}

.userReviews {
  margin-top: -1%;
  display: flex;
  flex-direction: column;
}

.clubRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropDown {
  margin-left: 3%;
  font-size: 20px;
}

.bookClubsTitle {
  margin-top: 15%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
}

.title {
  cursor: pointer;
  font-size: 30px;
  margin-left: 3%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.searchBar {
  align-self: right;
  font-size: 18px;
  width: 80px;
  border: none;
  cursor: pointer;
  background: url("./Images/searchSize25.png") right no-repeat;
  transition: 1s;
  color: transparent;
}
.searchBar::-moz-placeholder {
  color: transparent;
}
.searchBar:-ms-input-placeholder {
  color: transparent;
}
.searchBar::placeholder {
  color: transparent;
}
.searchBar:focus {
  width: 250px;
  cursor: text;
  transition: 1s;
  background-color: rgba(186, 185, 185, 0.245);
  color: black;
}
.searchBar:focus::-moz-placeholder {
  color: rgba(128, 128, 128, 0.6);
  -moz-transition: 1s;
  transition: 1s;
}
.searchBar:focus:-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.6);
  -ms-transition: 1s;
  transition: 1s;
}
.searchBar:focus::placeholder {
  color: rgba(128, 128, 128, 0.6);
  transition: 1s;
}

.group {
  display: flex;
  flex-direction: row;
  width: 65%;
  align-items: flex-end;
}
.group.end {
  justify-content: flex-end;
  width: 50%;
  margin-right: 2.5%;
  align-items: center;
}

.option {
  cursor: pointer;
  margin-right: 5%;
}
.option:hover {
  color: cadetblue;
}

.profile-menu {
  border-radius: 2px;
  position: absolute;
  text-align: right;
  top: 7.5%;
  left: 89%;
  background-color: palegreen;
  z-index: 1;
  -webkit-animation: dropDown 0.45s ease-in-out forwards;
          animation: dropDown 0.45s ease-in-out forwards;
  transform-origin: top center;
  color: black;
  border: 1px solid black;
  margin-top: 1.5%;
}

.menu-option {
  padding: 15px;
  padding-right: 10px;
  padding-left: 25px;
  font-size: 17px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.715);
}

@-webkit-keyframes dropDown {
  0% {
    opacity: 0;
    background-color: transparent;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dropDown {
  0% {
    opacity: 0;
    background-color: transparent;
  }
  100% {
    opacity: 1;
  }
}
.profile {
  cursor: pointer;
  margin-left: 5%;
  margin-right: -4.5%;
}
.profile.pic {
  height: 33px;
  border: 2px solid black;
  border-radius: 5px;
}

.bookPageCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: pink;
  height: 770px;
  width: 860px;
  margin-top: 8%;
  margin-bottom: 8%;
  border-radius: 3%;
}

.bookPageCardSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #66C4C7;
  height: 100%;
  width: 35%;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
}

.bookPageCardMain {
  background-color: #FFE4CF;
  height: 100%;
  width: 65%;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
}

.bookPageCardInformation {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.bookPageCardCover {
  height: 240px;
  width: 170px;
  border-radius: 3%;
}

.bookPageTitle {
  margin-top: 2%;
  align-self: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.synopsis {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.3em;
}

.bookInfo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.fullSynopsis {
  position: absolute;
  margin-left: -1.8%;
  margin-top: 3%;
  width: 36%;
  font-size: 16px;
  background-color: #66C4C7;
  border-radius: 5px;
  padding: 20px;
}
.fullSynopsis h3 {
  padding-top: 0px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.shelfRow {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 1%;
  font-size: 18px;
}
.shelfRow div {
  font-size: 16px;
  margin-right: 1%;
  font-weight: 600;
  padding: 2.5px;
  border-radius: 3.3333333333px;
}
.shelfRow select {
  background-color: peachpuff;
  color: black;
  border: none;
  margin-right: 0.5%;
  font-size: 15px;
  padding: 2.5px;
  border-radius: 3.3333333333px;
  cursor: pointer;
}
.shelfRow button {
  background-color: peachpuff;
  color: black;
  border: none;
  font-size: 15px;
  padding: 3.5px 7.5px;
  border-radius: 3.3333333333px;
  cursor: pointer;
}
.shelfRow button:hover {
  transform: scale(1.05);
  background-color: paleturquoise;
}
.shelfRow button:active {
  transform: scale(0.95);
}
.shelfRow button:disabled {
  opacity: 0.15;
}
.shelfRow button:disabled:hover {
  transform: scale(1);
  cursor: default;
}
.shelfRow button:disabled:active {
  transform: scale(1);
}
.shelfRow input {
  background-color: peachpuff;
  border: none;
  color: black;
  margin-right: 1%;
  font-size: 15px;
  padding: 2.5px;
  border-radius: 3.3333333333px;
}
.shelfRow input:focus {
  background-color: paleturquoise;
}

.featuredCardBottom {
  background-color: #D8B5DE;
  padding: 30px;
  padding-top: 3px;
  border-radius: 0px 0px 5px 0px;
}

.searchPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigSearch {
  align-self: center;
  width: 400px;
  height: 30px;
  cursor: pointer;
  background-color: rgba(186, 185, 185, 0.245);
}
.bigSearch:focus {
  cursor: text;
  background-color: rgba(186, 185, 185, 0.245);
  color: black;
}
.bigSearch:focus::-moz-placeholder {
  color: rgba(128, 128, 128, 0.6);
}
.bigSearch:focus:-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.6);
}
.bigSearch:focus::placeholder {
  color: rgba(128, 128, 128, 0.6);
}

.bigSearchCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  width: 610px;
  padding-top: 1%;
}

.filterRow {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-top: -1.5%;
}

.searchAuthor {
  font-size: 16px;
  height: 10%;
  margin-left: 1%;
}

.searchGenre {
  font-size: 16px;
  height: 10%;
  margin-left: 1%;
}

.userReviewCard {
  background-color: salmon;
  margin-bottom: 0.5%;
  padding: 10px;
  width: 97.5%;
  border-radius: 5px;
}

.userReviewId {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userReviewTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}
.userReviewTitle span {
  color: rgb(38, 38, 38);
}
.userReviewTitle div,
.userReviewTitle span,
.userReviewTitle label,
.userReviewTitle button {
  margin-right: 10px;
}
.userReviewTitle img {
  margin-right: 5px;
}
.userReviewTitle button {
  border-radius: 5px;
  border: none;
}

.userReviewDate {
  font-size: 15px;
}

.userReviewText {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
}

.reactionCounter {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}
.reactionCounter h5 {
  margin-top: 2px;
  margin-bottom: 3px;
  margin-right: 4px;
}
.reactionCounter span:nth-of-type(1) {
  font-size: 13px !important;
  margin-top: -5% !important;
}
.reactionCounter div:nth-child(2) span:nth-of-type(1) {
  visibility: hidden;
  position: relative;
}
.reactionCounter div:nth-child(2) span:nth-of-type(1):after {
  color: black;
  font-size: 20px;
  position: absolute;
  top: -30%;
  left: 0%;
  visibility: visible;
  content: " + " !important;
}
.reactionCounter.madebyuser {
  cursor: default !important;
}
.reactionCounter.madebyuser div:nth-child(3) {
  display: none !important;
  cursor: default !important;
  opacity: 0 !important;
}

.reviewProfile {
  height: 24px;
  border-radius: 5px;
}

.allStars {
  font-size: 14px;
}

.userReviewBookID {
  font-size: 15px;
  cursor: pointer;
}
.userReviewBookID:hover {
  color: white;
}

.reviewUser {
  cursor: pointer;
}
.reviewUser:hover {
  color: black;
}

.clubrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-size: 18px;
}
.clubrow div {
  margin-right: 1.5%;
}
.clubrow .clubname {
  padding-top: 5px;
  padding-bottom: 5px;
}
.clubrow .clubname:hover {
  color: white;
  cursor: pointer;
}
.clubrow .dropdown {
  font-size: 15px;
}
.clubrow .dropdown:hover {
  color: white;
  cursor: pointer;
}

.clubOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-size: 15px;
  margin-left: 10%;
  margin-top: 1%;
  cursor: pointer;
}
.clubOption div {
  margin-right: 1.5%;
}
.clubOption div:hover {
  color: white;
  cursor: pointer;
}
.clubOption button {
  border: none;
}

.sideBarBookClubContent {
  background-color: powderblue;
  border-radius: 0px 0px 5px 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.homeContainer {
  padding: 35px;
  padding-left: 10px;
  padding-top: 0px;
  height: 87.5vh;
}

.homeshelfrow {
  margin-top: -20px;
  transform: scale(0.8);
  display: flex;
  justify-content: flex-start;
}
.homeshelfrow .bookClubCard {
  margin-right: 2.5%;
}
.homeshelfrow .bookContainer {
  justify-content: flex-start;
  width: 100%;
}

.homeshelfcontainer {
  background-color: #E3D4C1;
}
.homeshelfcontainer h3 {
  margin-bottom: -2%;
  margin-top: 2.5%;
  padding-left: 2%;
  background-color: #FAEBD7;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.signin-modal {
  position: absolute;
  transition: all 0.15s;
  top: 20%;
  left: 25%;
  -webkit-animation: 0.3s fadeInAnimation ease-in-out;
          animation: 0.3s fadeInAnimation ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 1000;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  /* height: 100vh;
  margin: -20px 0 50px; */
}

.modal-title {
  margin: 0;
  font-size: 250%;
}

.modal-welcome {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 250%;
  color: white;
}

.modal-create {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  margin-bottom: 3%;
  color: #FF8A5F;
  font-size: 230%;
}

.modal-signin-title {
  font-family: "Cormorant SC", serif;
  font-weight: bold;
  margin: 0;
  margin-bottom: 3%;
  color: #FF8A5F;
  font-size: 300%;
}

/* h2 {
	text-align: center;
} */
.modal-subtitle {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.or-message {
  font-size: 12px;
}

.modal-a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.modal-button {
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: #BEA888;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.modal-button:hover {
  border: 1px solid transparent;
  background-color: rgb(247, 184, 91);
}

.modal-button:active {
  transform: scale(0.95);
}

.modal-button:focus {
  outline: none;
}

.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
  transition: 0.5s;
}

.ghost:hover {
  background-color: #ffb444;
  border-color: transparent;
}

.modal-form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.modal-input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.modal-input-end {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  margin-bottom: 5%;
}

.modal-input-fullname {
  flex-direction: row;
  justify-content: center;
}

.modal-input-name {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 4px;
  /* margin-right: 2.5%; */
  width: 47%;
}

.container {
  background-color: rgb(27, 27, 27);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

@-webkit-keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: linear-gradient(to right, #55433C, #FF8A5F);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.demo {
  background-color: #BEA888;
  margin-top: 5%;
}

.demo:hover {
  background-color: #ffb444;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #FAEBD7;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px;
  border-radius: 5px;
}

.profileCardTop {
  background-color: #E3D4C1;
  border-radius: 5px;
  height: 65;
}

.profileCardBottom {
  background-color: #E3D4C1;
  border-radius: 5px;
  height: 35%;
}
.profileCardBottom .reviewContainer {
  height: inherit;
}
.profileCardBottom.clubCardBottom {
  height: 100%;
}

.profilecardtitle {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.profilecardtitle img {
  height: 80px;
  margin: 10px 10px 0px 10px;
  border: 2px solid black;
  border-radius: 50px;
  max-width: 80px;
}

.profilecardsubtitle {
  margin-left: 5%;
}

.south {
  background-color: #D8B5DE;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.5%;
  padding-bottom: 5%;
}
.south h3 {
  border-bottom: 2px solid grey;
}

.profileDisplayAllShelves {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-bottom: 1%;
}
.profileDisplayAllShelves::-webkit-scrollbar {
  height: 5px;
}

.profileShelfBookCard {
  margin-right: 2.5%;
  display: flex;
  flex-direction: column;
  background-color: salmon;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.profileShelfBookCard.bookClubUser img {
  height: 80px;
  width: 80px;
  border: 2px solid;
  border-radius: 50px;
}

.profileShelfBookCardTitle {
  font-weight: 550;
  border-bottom: 1px solid;
  margin-bottom: 2.5%;
}

.profileShelfBookToDisplay .bookCard {
  height: 180.5px;
  width: 125px;
}
.profileShelfBookToDisplay .bookCard .bookCover {
  height: 110px;
  width: 90px;
}
.profileShelfBookToDisplay .bookCard .bookTitle {
  font-size: smaller;
}
.profilepage {
  height: 150%;
  overflow-y: scroll;
}

.profileImage {
  height: 80px;
}

.aboutPageContainer {
  display: flex;
  justify-content: center;
}

.paragraph {
  font-family: sans-serif;
  margin-right: 2%;
  text-indent: 0.5em;
  line-height: 1.5em;
}

.aboutPage {
  background-color: #66C4C7;
  color: black;
  width: 550px;
  height: 500px;
  margin: 18px;
  border-radius: 5px;
}
.aboutPage h1 {
  font-family: sans-serif;
}
.aboutPage h4 {
  align-self: flex-start;
}

.icons {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}
.icons img {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-right: 3%;
}
.icons.js img {
  cursor: default;
}

.aboutInformation {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 3%;
}

.bookClubDescription {
  margin-left: 100px;
  color: rgba(0, 0, 0, 0.55);
}
.bookClubDescription span {
  color: black;
}

.bookClub {
  background-color: plum;
}
.bookClub .users {
  background-color: black;
  padding: 10px;
}

.bookClubcontainer {
  width: 100%;
  margin-top: -5%;
  background-color: aquamarine;
  border-radius: 0px 0px 5px 5px;
}
.bookClubcontainer h1 {
  background-color: peachpuff;
  margin-bottom: -1%;
  padding-left: 25px;
  transition: 0.5s;
}
.bookClubcontainer h1:hover {
  cursor: pointer;
  color: white;
}
.bookClubcontainer h1 span {
  font-size: 20px;
}

.bookclubshelfrow {
  display: flex;
  justify-content: flex-start;
  transform: scale(0.9);
}
.bookclubshelfrow h1 {
  transform: scale(1);
}
.bookclubshelfrow .bookContainer {
  justify-content: flex-start;
  margin-left: 0%;
  margin-right: 0%;
  border-radius: 5px;
  background-color: violet;
}

.bookClubButtons {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bookClubCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  padding-bottom: 10px;
  background-color: rgb(128, 180, 128);
  height: 375px;
  width: 275px;
  border-radius: 7.5px;
  margin-right: 5px;
  margin-bottom: 30px;
}
.bookClubCard h2 {
  margin-bottom: 0px;
  color: white;
  text-align: center;
  cursor: default;
}
.bookClubCard span {
  color: white;
}
.bookClubCard hr {
  width: 100%;
}
.bookClubCard img {
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-radius: 100px;
  padding: 3px;
}
.bookClubCard button {
  width: 50%;
  color: black;
  border: none;
  font-size: 15px;
  padding: 3.5px 7.5px;
  border-radius: 3.3333333333px;
  cursor: pointer !important;
  margin-right: 0.5%;
  transition: 0.25s;
  margin-bottom: 2.5%;
}
.bookClubCard button:hover {
  transform: scale(1.05);
}
.bookClubCard button:active {
  transform: scale(0.95);
}
.bookClubCard button:disabled {
  opacity: 0.35;
}
.bookClubCard button:disabled:hover {
  transform: scale(1);
  cursor: default;
}
.bookClubCard button:disabled:active {
  transform: scale(1);
}
.bookClubCard.addNew {
  background-color: darkgreen;
}
.bookClubCard.addNew img {
  height: 100px;
  width: 100px;
  border: 0px solid;
  filter: invert(100%);
}
.bookClubCard.addNew input[type=url],
.bookClubCard.addNew input[type=text] {
  border: none;
  color: black;
  margin-right: 10px;
  font-size: 16px;
  padding: 5px;
  border-radius: 3.3333333333px;
  width: 200px;
  text-align: center;
  margin-bottom: 5%;
}
.bookClubCard.addNew input[type=url] {
  width: 225px;
}

.clubCardBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clubDescription {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 200px;
  background-color: rgb(241, 116, 158);
  padding: 15px;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  margin-bottom: 30px;
  align-items: center;
  text-align: center;
}

.communityDisplay {
  display: flex;
  flex-direction: column;
  height: 130%;
  width: 80%;
  align-items: center;
  justify-content: flex-start;
  overflow-y: hidden;
}
.commContainer {
  height: 100%;
  width: 100%;
  background-color: maroon;
  padding: 30px;
  padding-top: 10px;
  color: black;
}

.clubsContainer {
  background-color: skyblue;
  height: 89.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
  overflow-y: scroll;
  border-radius: 5px;
}

.communityTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.communityTitle .searchBar {
  margin-top: 10px;
  font-size: 20px;
}

.sideBar {
  display: flex;
  flex-direction: column;
  background-color: #95BDB6;
  height: 100%;
  width: 25%;
  align-items: center;
}

.sideBarBookClubsTitle {
  margin-bottom: 0%;
  background-color: orange;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
}

.sideBarBookClubsContainer {
  background-color: hotpink;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 5px 5px;
}

body {
  background-color: rgb(250, 235, 215);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
}

.hidden {
  display: hidden;
  color: transparent;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  background-color: greenyellow;
  height: 730px;
  justify-content: center;
  align-content: center;
}

.display {
  display: flex;
  flex-direction: column;
  background-color: #FAEBD7;
  height: 100%;
  width: 75%;
  align-items: center;
  justify-content: flex-start;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #C1554E;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #FFC1B3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:active {
  background-color: #d6a094;
}/*# sourceMappingURL=index.css.map */