.bookCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 175px;
  height: 300px;
  background-color: #66C4C7;
  border-radius: 3%;
  margin-top: 3%;
  margin-right: 2.5%;
}

.bookCover {
  cursor: pointer;
  height: 220px;
  width: 160px;
}

.bookTitle {
  text-align: center;
  font-size: 18px;
}
.bookTitle.extended {
  font-size: 16px;
}
.bookTitle.shrunk {
  font-size: 16px;
}

.bookAuthor {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.bookCardHalf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 12px;
}
.bookCardHalf.top {
  padding-bottom: 0px;
  padding-top: 15px;
}
.bookCardHalf.bottom {
  padding-top: 0px;
  flex-direction: column;
  align-items: center;
}

.bookContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.reviewContainer {
  background-color: lightblue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.reviewInfo {
  background-color: olivedrab;
  width: 90%;
  height: 100%;
}

.newReviewTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.stars {
  cursor: pointer;
  margin-left: 1%;
  display: flex;
  flex-direction: row;
  font-size: 18px;
}
.stars div {
  margin-right: 3%;
}

.reviewForm {
  display: flex;
  flex-direction: column;
}
.reviewForm input {
  width: 70%;
  height: 100px;
  text-align: start;
}
.reviewForm button {
  width: 10%;
}

.active {
  color: gold;
}

.userReviews {
  margin-top: -1%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3%;
}

.title {
  cursor: pointer;
  font-size: 30px;
  margin-left: 35%;
}

.searchBar {
  align-self: right;
  margin-left: 39vw;
  font-size: 18px;
  width: 80px;
  border: none;
  cursor: pointer;
  background: url("./Images/searchSize25.png") right no-repeat;
  transition: 1s;
  color: transparent;
}
.searchBar:focus {
  width: 250px;
  margin-left: 27vw;
  cursor: text;
  transition: 1s;
  background-color: rgba(186, 185, 185, 0.245);
  color: black;
}
.searchBar:focus::-moz-placeholder {
  color: rgba(128, 128, 128, 0.6);
  -moz-transition: 1s;
  transition: 1s;
}
.searchBar:focus:-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.6);
  -ms-transition: 1s;
  transition: 1s;
}
.searchBar:focus::placeholder {
  color: rgba(128, 128, 128, 0.6);
  transition: 1s;
}

.bookPageCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: pink;
  height: 770px;
  width: 860px;
  margin-top: 8%;
  margin-bottom: 8%;
  border-radius: 3%;
}

.bookPageCardSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C1554E;
  height: 100%;
  width: 35%;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
}

.bookPageCardMain {
  background-color: #FFC1B3;
  height: 100%;
  width: 65%;
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
}

.bookPageCardInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}

.bookPageCardCover {
  height: 240px;
  width: 170px;
  border-radius: 3%;
}

.imageWrap {
  padding: 40%;
}

.bookPageTitle {
  margin-top: 2%;
  align-self: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.synopsis {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.3em;
}

.bookInfo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.fullSynopsis {
  position: absolute;
  margin-left: -1.8%;
  margin-top: 3%;
  width: 36%;
  font-size: 16px;
  background-color: #66C4C7;
  border-radius: 5px;
  padding: 20px;
}
.fullSynopsis h3 {
  padding-top: 0px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.searchPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigSearch {
  align-self: center;
  width: 400px;
  height: 30px;
  cursor: pointer;
  background-color: rgba(186, 185, 185, 0.245);
  color: transparent;
}
.bigSearch:focus {
  cursor: text;
  background-color: rgba(186, 185, 185, 0.245);
  color: black;
}
.bigSearch:focus::-moz-placeholder {
  color: rgba(128, 128, 128, 0.6);
}
.bigSearch:focus:-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.6);
}
.bigSearch:focus::placeholder {
  color: rgba(128, 128, 128, 0.6);
}

.bigSearchCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  width: 650px;
  padding-top: 1%;
}

.filterRow {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-top: -1.5%;
}

.searchAuthor {
  font-size: 16px;
  height: 10%;
  margin-left: 1%;
}

.searchGenre {
  font-size: 16px;
  height: 10%;
  margin-left: 1%;
}

.userReviewCard {
  padding: 10px;
  width: 97.5%;
}

.userReviewId {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userReviewTitle span {
  color: white;
}

.userReviewDate {
  font-size: 15px;
}

.userReviewText {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
}

.reactionCounter {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}
.reactionCounter h5 {
  margin-top: 2px;
  margin-bottom: 3px;
  margin-right: 4px;
}

body {
  background-color: rgb(250, 235, 215);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
}

.hidden {
  display: hidden;
  color: transparent;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  background-color: greenyellow;
  height: 730px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sideBar {
  display: flex;
  flex-direction: column;
  background-color: #95BDB6;
  height: 100%;
  width: 25%;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: column;
  background-color: #FE8A7F;
  height: 100%;
  width: 75%;
  align-items: center;
  justify-content: flex-start;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #C1554E;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #FFC1B3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:active {
  background-color: #d6a094;
}/*# sourceMappingURL=index.css.map */