@use "../../styles" as s;

.bookClubCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  padding-bottom: 10px;
    background-color: #e3d4c1;
  height: 375px;
  width: 275px;
  border-radius: calc(s.$radius * 1.5);
  margin-right: 5px;
  margin-bottom: 30px;

  h2 {
    margin-bottom: 0px;
    color: black;
    text-align: center;
    cursor: default;
  }

  span {
    color: black;
  }

  hr {
    width: 100%;
  }

  img {
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-radius: 100px;
    padding: 3px;
  }

  button {
    width: 50%;
    color: s.$text;
    border: none;
    font-size: 15px;
    padding: 3.5px 7.5px;
    border-radius: calc(s.$radius/1.5);
    cursor: pointer !important;
    margin-right: 0.5%;
    transition: 0.25s;
    margin-bottom: 2.5%;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }

    &:disabled {
      opacity: (0.35);

      &:hover {
        transform: scale(1);
        cursor: default;
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  &.addNew {
    background-color: #BFA888;
    img {
      height: 100px;
      width: 100px;
      border: 0px solid;
      filter: invert(100%);
    }
    input[type="url"],
    input[type="text"] {
      border: none;
      color: s.$text;
      margin-right: 10px;
      font-size: 16px;
      padding: 5px;
      border-radius: calc(s.$radius/1.5);
      width: 200px;
      text-align: center;
      margin-bottom: 5%;
    }

    input[type="url"] {
      width: 225px;
    }
  }
}

.clubCardBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clubDescription {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 200px;
  background-color: #B6B9A3;
  padding: 15px;
  justify-content: center;
  align-content: center;
  border-radius: s.$radius;
  margin-bottom: 30px;
  align-items: center;
  text-align: center;
}