@use '../../styles' as s;

.reviewContainer{
    background-color: lightblue;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.reviewInfo{
    background-color: olivedrab;
    width: 90%;
    height: 100%;
}

.newReviewTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.stars{
    cursor: pointer;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    font-size: 18px ;
    div{
        margin-right: 3%;
    }
}


.reviewForm{
    display: flex;
    flex-direction: column;

    input{
        width: 70%;
        height: 100px;
        text-align: start;
    }

    button{
        width: 10%;
    }
}

.active{
    color: gold;
}

.userReviews{
    margin-top: -1%;
    display: flex;
    flex-direction: column;
}
