@use "../../styles" as s;

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #FAEBD7;
  height:fit-content;
  padding: 50px;
  border-radius: s.$radius;
}

.profileCardTop {
  background-color: #E3D4C1;
  border-radius: s.$radius;
  height: 65;
}
.profileCardBottom {
  background-color: #E3D4C1;
  border-radius: s.$radius;
  height: 35%;

  .reviewContainer{
    height: inherit;
  }

  &.clubCardBottom {
    height: 100%;
  }
}

.profilecardtitle {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  img {
    height: 80px;
    margin: 10px 10px 0px 10px;
    border: 2px solid s.$text;
    border-radius: 50px;
    max-width: 80px;
  }
}

.profilecardsubtitle {
  margin-left: 5%;
}

.south {
  background-color: #C5B7A4;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.5%;
  padding-bottom: 5%;

  h3{
    border-bottom: 2px solid grey;
  }
}

.profileDisplayAllShelves {
//   margin-top: -1.5%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 1%;
  &::-webkit-scrollbar {
    height: 5px;
  }
}
.profileShelfBookCard {
  margin-right: 2.5%;
  display: flex;
  flex-direction: column;
  background-color: #a2a491;
  border-radius: s.$radius;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 2%;
  &.bookClubUser {
    img {
      height: 80px;
      width: 80px;
      border: 2px solid;
      border-radius: 50px;
    }
  }
}

.profileShelfBookCardTitle {
  font-weight: 550;
  border-bottom: 1px solid;
  margin-bottom: 2.5%;
}

.profileShelfBookToDisplay {
  .bookCard {
    height: 180.5px;
    width: 125px;

    .bookCover {
    height: 110px;
    width: 90px;
    }

    .bookTitle{
        font-size: smaller;
    }

    .bookAuthor{}
  }
}

.profilepage{
    height: 150%;
    overflow-y: scroll;
}

.profileImage{
    height: 80px;
}
