@use '../../styles' as s;


.userReviewCard{
    // background-color: salmon;
    padding: 10px;
    width: 97.5%;
}


.userReviewId{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userReviewTitle{
    span{
        color: white;
    }
}

.userReviewDate{
    font-size: 15px;
}

.userReviewText{
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
}

.reactionCounter{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    h5{
        margin-top: 2px;
        margin-bottom: 3px;
        margin-right: 4px;
    }
}


