@use '../../styles' as s;


//Position px
//size %


.searchPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigSearch{
    align-self: center;
//    font-size: 18px;
    width: 400px;
    height: 30px;
    //border: none;
    cursor: pointer;
    background-color: rgba(186, 185, 185, 0.245);

    // background: url('./Images/searchSize25.png') right no-repeat;
    //transition: 1s;
    color: transparent;
&:focus{//make the searchBar grow
    cursor: text;
    //transition: 1s;
    background-color: rgba(186, 185, 185, 0.245);
    color: black;
    &::placeholder{
        color: rgba(128, 128, 128, 0.6);
        //transition: 1s;
    }
}
}

.bigSearchCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    width: 650px;
    padding-top: 1%; 
    // padding-bottom: -2%;   
}

.filterRow{
    display: flex;
    flex-direction:row;
    align-content: center;
    align-items: center;
    margin-top: -1.5%;
}

.searchAuthor{
    font-size: 16px;
    height: 10%;
    margin-left:1%;
}

.searchGenre{
    font-size: 16px;
    height: 10%;
    margin-left:1%;
}


