@use '../../styles'as s;



.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}

.title {
    cursor: pointer;
    font-size: 30px;
    margin-left: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchBar {
    align-self: right;
    font-size: 18px;
    width: 80px;
    border: none;
    cursor: pointer;
    background: url('./Images/searchSize25.png') right no-repeat;
    transition: 1s;
    color: transparent;

    &::placeholder {
        color: transparent;
    }

    &:focus {
        //make the searchBar grow
        width: 250px;
        cursor: text;
        transition: 1s;
        background-color: rgba(186, 185, 185, 0.245);
        color: black;

        &::placeholder {
            color: rgba(128, 128, 128, 0.6);
            transition: 1s;
        }
    }
}

.group {
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    width: 65%;
    //background-color: orange;
    align-items: flex-end;
    &.end {
        justify-content: flex-end;
        //background-color: aqua;
        width: 50%;
        margin-right: 2.5%;
        align-items: center;
    }
}

.option{
    cursor: pointer;

    margin-right: 5%;
    &:hover{
        color: cadetblue;
    }
}


.profile-menu {
    // border-radius: s.$radius;
    border-radius: 2px;
    position: absolute;
    text-align: right;
    top: 7.5%;
    left: 89%;
    background-color: palegreen;
    z-index: 1;
    animation: dropDown 0.45s ease-in-out forwards;
    transform-origin: top center;
    color: s.$text;
    border: 1px solid black;
    margin-top: 1.5%;
}

.menu-option {
    padding: 15px;
    padding-right: 10px;
    padding-left: 25px;
    font-size: 17px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.715);
}

@keyframes dropDown {
    0% {
        // transform: scaleY(0);
        opacity: 0;
        background-color: transparent;
    }

    100% {
        // transform: scaleY(1);
        opacity: 1;
    }
}

.profile {
    cursor: pointer;
    margin-left: 5%;
    margin-right: -4.5%;
    &.pic{
        height: 33px;
        border: 2px solid black;
        border-radius: s.$radius;
    }
}