@use '../../styles' as s;



.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3%;
}

.title{
    cursor: pointer;
    font-size: 30px;
    margin-left: 35%;
}

.searchBar{
    align-self: right;
    margin-left: 39vw;
    font-size: 18px;
    width: 80px;
    border: none;
    cursor: pointer;
    background: url('./Images/searchSize25.png') right no-repeat;
    transition: 1s;
    color: transparent;
&:focus{//make the searchBar grow
    width: 250px;
    margin-left: 27vw;
    cursor: text;
    transition: 1s;
    background-color: rgba(186, 185, 185, 0.245);
    color: black;
    &::placeholder{
        color: rgba(128, 128, 128, 0.6);
        transition: 1s;
    }
}

}