@use '../../styles'as s;

.homeContainer {
    padding: 35px;
    padding-left: 10px;
    padding-top: 0px;
    height: 87.5vh;
}

.homeshelfrow {
    margin-top: -20px;
    transform: scale(0.8);
    display: flex;
    justify-content: flex-start;

    .bookClubCard {
        margin-right: 2.5%;
    }

    h3 {
        // transform: scale(1);
    }

    .bookContainer {
        justify-content: flex-start;
        // margin-left: -10%;
        width: 100%;
    }
}

.homeshelfcontainer {
    //border-radius: s.$radius;
    background-color: #E3D4C1;



    h3 {
        margin-bottom: -2%;
        margin-top: 2.5%;
        padding-left: 2%;
        background-color: #FAEBD7;
        cursor: pointer;
    }
}