@use '../../styles' as s;

.bookPageCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: pink;
    height: 770px;
    width: 860px;
    margin-top: 8%;
    margin-bottom: 8%;
    border-radius: 3%;
}

.bookPageCardSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C1554E;
    height: 100%;
    width: 35%;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

.bookPageCardMain{
    background-color: #FFC1B3;
    height: 100%;
    width: 65%;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

.bookPageCardInformation{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding: 5%;
   // margin-bottom: 10%;

}

.bookPageCardCover{
    height: 240px;
    width: 170px;
    border-radius: 3%;
}


.bookPageTitle{
    margin-top: 2%;
    align-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 900;
}

.synopsis{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.3em;
}

.bookInfo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.fullSynopsis{
    position: absolute;
    margin-left: -1.8%;
    margin-top: 3%;
    width: 36%;
    font-size: 16px;
    background-color: #66C4C7;
    border-radius: 5px;
    padding: 20px;

    h3{
        padding-top: 0px;
        margin-top: -1px;
        margin-bottom: -1px;
    }
}


.shelfRow {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 1%;
    font-size: 18px;

    div {
        font-size: 16px;
        margin-right: 1%;
        font-weight: 600;
        // background-color: s.$dark-alt;
        padding: 2.5px;
        border-radius: calc(5px/1.5);
    }

    select {
        background-color: s.$primary;
        color: black;
        border: none;
        margin-right: .5%;
        font-size: 15px;
        padding: 2.5px;
        border-radius: calc(5px/1.5);
        cursor: pointer;
    }

    button {
        background-color: s.$primary;
        color: black;
        border: none;
        font-size: 15px;
        padding: 3.5px 7.5px;
        border-radius: calc(5px/1.5);
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
            background-color: paleturquoise;
        }

        &:active {
            transform: scale(.95);
        }

        &:disabled {
            opacity: (0.15);

            &:hover {
                transform: scale(1);
                cursor: default;
            }

            &:active {
                transform: scale(1);
            }
        }
    }

    input {
        background-color: s.$primary;
        border: none;
        color: black;
        margin-right: 1%;
        font-size: 15px;
        padding: 2.5px;
        border-radius: calc(5px/1.5);

        &:focus {
            background-color: paleturquoise;
        }
    }
}

.featuredCardBottom {
    background-color: palevioletred;
    padding: 30px;
    padding-top: 3px;
    border-radius: 0px 0px 5px 0px;
}
